<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiGis - Repostería con amor (Admin)</title>
    <link rel="stylesheet" href="/css/estilos.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Secular+One&display=swap" rel="stylesheet">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">

</head>
<body>
    
    <header>
        <div class="nav">
            <div class="logo">
                <img src="/assets/gigis_logo.png" alt="logo repostería gigis" width="164px">
                <h1 class="nav-titulo_logo">GiGis<br>Repostería con amor</h1>
            </div>
            <div class="nav-list">
                <a href="#pedidos" class="nav-enlace">PEDIDOS</a>
                <a href="#inventario" class="nav-enlace">INVENTARIO</a>
                <a href="../index.html" class="nav-enlace">CLIENTE</a>
            </div>
        </div>
    </header>

    <main>
        <section id="pedidos">
            <h2 class="titulo_menu">Lista de pedidos</h2> <br>

            <div class="container-pedidos">
                <table>
                    <tr>
                        <th>No. de pedido</th>
                        <th>Nombre del cliente</th>
                        <th>Teléfono</th>
                        <th>Correo electrónico</th>
                        <th>Datos del pedido</th>
                        <th>Comentarios</th>
                    </tr>
                    <tr>
                        <td>33</td>
                        <td>Juan Carlos Andrade Bucio</td>
                        <td>(11) 1111 11 11</td>
                        <td>jcarlosB@mail.com</td>
                        <td>
                            Pastel de chocolate
                        </td>
                        <td>
                            Sin comentarios
                        </td>
                    </tr>
                    <tr>
                        <td>34</td>
                        <td>Fernanda García López</td>
                        <td>(22) 2222 22 22</td>
                        <td>ferGL@mail.com</td>
                        <td>
                            Pastel de nuez
                        </td>
                        <td>
                            Sin betún
                        </td>
                    </tr>
                    <tr>
                        <td>35</td>
                        <td>Ulises Huerta Olivares</td>
                        <td>(33) 3333 33 33</td>
                        <td>ulisesH@mail.com</td>
                        <td>
                            Sabor: Coco, 
                            Tipo: Tres leches, 
                            Decoración: Letrero, Vela chispera, Fondant
                        </td>
                        <td>
                            Letrero de "felíz cumpleaños", pastel cubierto de fondant
                        </td>
                    </tr>
                    <tr>
                        <td>36</td>
                        <td>Victor Rodriguez Guerra</td> 
                        <td>(44) 4444 44 44</td>
                        <td>victor_rg@mail.com</td>
                        <td>
                            Sabor: Zanahoria, 
                            Tipo: Seco, 
                            Decoración: Letrero, Vela chispera
                        </td>
                        <td>
                            Letrero de "felíz cumpleaños"
                        </td>
                    </tr>
                </table>
            </div>
        </section>

        <section id="inventario">
            <h2 class="titulo_menu">Inventario</h2> <br>

            <div class="container-inventario">
                <table>
                    <tr>
                        <th>Ingredientes</th>
                        <th>Cantidad disponible</th>
                    </tr>
                    <tr>
                        <td>Huevos</td>
                        <td>156</td>
                    </tr>
                    <tr>
                        <td>Harina</td>
                        <td>100 kg</td>
                    </tr>
                    <tr>
                        <td>Leche</td>
                        <td>15 L</td>
                    </tr>
                    <tr>
                        <td>Chocolate</td>
                        <td>4.7 kg</td> 
                    </tr>
                    <tr>
                        <td>Nuez</td>
                        <td>3 kg</td> 
                    </tr>
                    <tr>
                        <td>Zanahoria</td>
                        <td>2 kg</td> 
                    </tr>
                    <tr>
                        <td>Coco rayado</td>
                        <td>1 kg</td> 
                    </tr>
                    <tr>
                        <td>Letreros</td>
                        <td>30 pzas.</td> 
                    </tr>
                    <tr>
                        <td>Velas chisperas</td>
                        <td>15 pzas.</td> 
                    </tr>
                    <tr>
                        <td>Fondant</td>
                        <td>5 kg</td> 
                    </tr>
                </table>
            </div>
        </section>

    </main>

    <footer>
        <div class="contenedor">
            <div>
                <div class="copy_footer">
                    <p>© <a href="#">GiGis Repostería con amor</a>. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>

    </footer>
    <script src="https://kit.fontawesome.com/c7f614afc4.js" crossorigin="anonymous"></script>

</body>
</html>